<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ul class="breadcrumb">
                <li>
                    <a ui-sref="app">Home</a>
                </li>
                <li class="active">Gerenciar Empresas</li>
            </ul>
        </div>
        <div class="col-xs-12">
            <h3>Empresas Cadastradas</h3>
            <hr>
        </div>
    </div>
    <div class="row row-content">
        <div class="col-xs-12">
            <h4>Buscar Empresas &nbsp;&nbsp;&nbsp;
                <small>Nome: &nbsp;
                    <input ng-model="filtraNome">
                </small>
            </h4>
        </div>
        <div class="col-xs-12" ng-if="showEmpresas">
            <div id="no-more-tables">
                <table>
                    <thead>
                        <tr>
                            <th class="thead-inverse">Logo</th>
                            <th class="thead-inverse">Região</th>
                            <th class="thead-inverse">Nome</th>
                            <th class="thead-inverse">Ativo</th>
                            <th class="thead-inverse">Endereço</th>
                            <th class="thead-inverse">Telefone</th>
                            <th class="thead-inverse">Celular</th>
                            <th class="thead-inverse">E-mail</th>
                            <th class="thead-inverse">Site</th>
                            <th class="thead-inverse">Facebook</th>
                            <th class="thead-inverse">Cat/SubCat/Dest.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="emp in Empresas | filter: {nome: filtraNome}">
                            <td class="no-more-tables" data-title="Logo">
                                <a ng-click="editEmpresa(emp)">
                                    <img class="img-circle" height="25" ng-src="{{emp.logo}}" />
                                </a>
                            </td>
                            <td data-title="Empresa">
                                <a ng-click="editEmpresa(emp)">{{emp.regiao}}</a>
                            </td>
                            <td data-title="Empresa">
                                <a ng-click="editEmpresa(emp)">{{emp.nome}}</a>
                            </td>
                            <td data-title="Ativo">
                                <a ng-click="editEmpresa(emp)">{{emp.ativo}}</a>
                            </td>
                            <td data-title="Endereço">
                                <a ng-click="editEmpresa(emp)">{{emp.endereco}}</a>
                            </td>
                            <td data-title="Telefone">
                                <a ng-click="editEmpresa(emp)">{{emp.telefone}}</a>
                            </td>
                            <td data-title="Celular">
                                <a ng-click="editEmpresa(emp)">{{emp.celular}}</a>
                            </td>
                            <td data-title="E-mail">
                                <a ng-click="editEmpresa(emp)">{{emp.email}}</a>
                            </td>
                            <td data-title="Site">
                                <a ng-click="editEmpresa(emp)">{{emp.site}}</a>
                            </td>
                            <td data-title="Facebook">
                                <a ng-click="editEmpresa(emp)">{{emp.facebook}}</a>
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm" ui-sref="app.categorias-empresa({id: emp.id})">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Categ/SubCat/Dest.
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="cadastro" class="row row-content">
        <div class="col-xs-12">
            <h3>Criar/Alterar/Excluir Empresas</h3>
        </div>
        <div class="col-xs-12 col-sm-9">
            <form class="form-horizontal" name="empresaForm" ng-submit="saveEmpresa()" novalidate>
                <div class="form-group" ng-class="{ 'has-error' : empresaForm.nome.$error.required && !empresaForm.nome.$pristine }">
                    <label for="nome" class="col-sm-2 control-label">Nome *</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="nome" name="nome" placeholder="Entrar nome da empresa" ng-model="Empresa.nome"
                            required>
                        <span ng-show="empresaForm.nome.$error.required && !empresaForm.nome.$pristine" class="help-block">O nome da Empresa é obrigatório.</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : empresaForm.regiao.$error.required && !empresaForm.regiao.$pristine }">
                    <label for="regiao" class="col-sm-2 control-label">Região *</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="regiao" name="regiao" ng-model="Empresa.regiao" required>
                            <option value="1">1 - DF - 425</option>
                            <option value="2">2 - Região dos Lagos</option>
                            <option value="3">3 - Sobradinho I</option>
                            <option value="4">4 - Sobradinho II</option>
                        </select>
                        <span ng-show="empresaForm.regiao.$error.required && !empresaForm.regiao.$pristine" class="help-block">O preenchimento da região é obrigatório.</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : empresaForm.ativo.$error.required && !empresaForm.ativo.$pristine }">
                    <label for="ativo" class="col-sm-2 control-label">Ativo *</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="ativo" name="ativo" ng-model="Empresa.ativo" required>
                            <option value="S">SIM</option>
                            <option value="N">NÃO</option>
                        </select>
                        <span ng-show="empresaForm.ativo.$error.required && !empresaForm.ativo.$pristine" class="help-block">O status da empresa é obrigatório.</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : empresaForm.endereco.$error.required && !empresaForm.endereco.$pristine }">
                    <label for="endereco" class="col-sm-2 control-label">Endereço *</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="endereco" name="endereco" placeholder="Entrar endereco" ng-model="Empresa.endereco"
                            required>
                        <span ng-show="empresaForm.endereco.$error.required && !empresaForm.endereco.$pristine" class="help-block">O endereço é obrigatório.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="coordenada" class="col-sm-2 control-label">Localização</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="coordenada" name="coordenada" placeholder="Entrar coordenada" ng-model="Empresa.coordenada">
                        <div id="mapaColorado" style="width:100%;height:400px;"></div>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : empresaForm.telefone.$error.required && !empresaForm.telefone.$pristine }">
                    <label for="telefone" class="col-sm-2 control-label">Telefone *</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="telefone" name="telefone" placeholder="Entrar telefone" ng-model="Empresa.telefone"
                            required>
                        <span ng-show="empresaForm.telefone.$error.required && !empresaForm.telefone.$pristine" class="help-block">O telefone é obrigatório.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="celular" class="col-sm-2 control-label">Celular</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="celular" name="celular" placeholder="Entrar celular" ng-model="Empresa.celular">
                    </div>
                </div>
                <div class="form-group">
                    <label for="logo" class="col-sm-2 control-label">Logomarca</label>
                    <div class="col-sm-10">
                        <input type="file" accept="image/*" id="icone" name="logo" onchange="angular.element(this).scope().carregaFoto(this)">
                        <input type="hidden" id="logo1" name="logo1" ng-model="Empresa.logo">
                        <img id="outputImage" class="img-fluid" width="60" height="60" ng-src="{{Empresa.logo}}" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="site" class="col-sm-2 control-label">Site</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="site" name="site" placeholder="Entrar site" ng-model="Empresa.site">
                    </div>
                </div>
                <div class="form-group">
                    <label for="facebook" class="col-sm-2 control-label">Facebook</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="facebook" name="facebook" placeholder="Entrar facebook" ng-model="Empresa.facebook">
                    </div>
                </div>
                <div class="form-group">
                    <label for="instagram" class="col-sm-2 control-label">Instagram</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="instagram" name="instagram" placeholder="Entrar instagram" ng-model="Empresa.instagram">
                    </div>
                </div>
                <div class="form-group">
                    <label for="twitter" class="col-sm-2 control-label">Twitter</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="twitter" name="twitter" placeholder="Entrar twitter" ng-model="Empresa.twitter">
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">E-mail</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="email" name="email" placeholder="Entrar email" ng-model="Empresa.email">
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : empresaForm.descricao.$invalid && !empresaForm.descricao.$pristine }">
                    <label for="descricao" class="col-sm-2 control-label">Descrição</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="12" ng-model="Empresa.descricao" placeholder="Entre com uma descrição" required></textarea>
                        <span ng-show="empresaForm.descricao.$invalid && !empresaForm.descricao.$pristine" class="glyphicon glyphicon-remove form-control-event"
                            aria-hidden="true"></span>
                        <span ng-show="(empresaForm.descricao.$invalid || empresaForm.descricao.$error.required) && !empresaForm.descricao.$pristine"
                            class="help-block">
                            Favor entrar com uma descrição.
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" ng-disabled="empresaForm.$invalid">Salvar Empresa</button>
                        <button class="btn btn-primary" ng-click="deleteEmpresa(Empresa.id)">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true">
                            </span> Excluir Empresa
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xs-12 col-sm-3">
        </div>
    </div>
</div>

<!--Script necessary to load google maps engine-->
<script>

    var marcadores = [];
    var mapa;
    var coord = document.getElementById('coordenada').value;
    var postoColorado = { lat: -15.689690955269533, lng: -47.85949230194092 };
    // Adiciona o marcador no mapa.
    function adicionaMarcador(coordenada, mapa) {
        // Adiciona o marcador na coordenada clicada        
        if (marcadores.length > 0) {
            marcadores[0].setMap(null);
        }
        marcadores = [];
        var marcador = new google.maps.Marker({
            position: coordenada,
            label: '',
            map: mapa
        });
        mapa.setCenter(coordenada); 
        marcadores.push(marcador);
        //Atualiza o ng-model com a coordenada
        var meuInput = $("#coordenada");
        meuInput.val(JSON.stringify(coordenada));
        meuInput.trigger('input');
    }

    function inicializaMapa() {
        if (coord == '') {
            coord = postoColorado;
        }
        mapa = new google.maps.Map(document.getElementById('mapaColorado'), {
            zoom: 11,
            center: coord
        });
        // Este event listener chama adicionaMarcador() qdo o mapa for clicado.
        google.maps.event.addListener(mapa, 'click', function (event) {
            adicionaMarcador(event.latLng, mapa);
        });
    }

</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsndtkx91Lt1NMI1IRANvDTXUXpkWo1sg&callback=inicializaMapa">
</script>