<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ul class="breadcrumb">
                <li>
                    <a ui-sref="app">Home</a>
                </li>
                <li class="active">Gerenciar Sub-Categorias</li>
            </ul>
        </div>
        <div class="col-xs-12">
            <h3>Sub-Categorias Cadastradas</h3>
            <hr>
        </div>
    </div>
    <div class="row row-content">
        <div class="col-xs-12">
            <h4>Filtrar por Categoria:
                <select id="categoria" name="categoria" ng-model="filtraCategoria">
                    <option value="">---Selecione uma Categoria---</option>
                    <option ng-repeat="cat in categorias" value="{{cat.nome}}">
                        <img class="img-circle" height="25" ng-src="{{cat.icone}}" /> {{cat.nome}}
                    </option>
                </select>
            </h4>
        </div>
        <div class="col-xs-12" ng-if="showSubcategorias">
            <div id="no-more-tables">
                <table>
                    <thead>
                        <tr>
                            <th class="thead-inverse">Categoria</th>
                            <th class="thead-inverse">Sub-Categoria</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="subcat in Subcategorias | orderBy: categoria | filter: filtraCategoria">
                            <td data-title="Categoria">
                                <a ng-click="editSubcategoria(subcat)">
                                    <img class="img-circle" height="25" ng-src="{{subcat.categoria.icone}}" /> {{subcat.categoria.nome}}
                                </a>
                            </td>
                            <td data-title="nome">
                                <a ng-click="editSubcategoria(subcat)">{{subcat.nome}}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <div id="cadastro" class="row row-content">
        <div class="col-xs-12">
            <h3>Criar/Alterar/Excluir Sub-Categorias</h3>
        </div>
        <div class="col-xs-12 col-sm-9">
            <form class="form-horizontal" name="SubCategoriaForm" ng-submit="saveSubcategoria()" novalidate>
                <div class="form-group" ng-class="{ 'has-error' : SubCategoriaForm.categoria.$error.required && !SubCategoriaForm.categoria.$pristine }">
                    <label for="categoria" class="col-sm-2 control-label">Categoria *</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="categoria" name="categoria" ng-model="Subcategoria.categoriaId" required>
                            <option value="">---Selecione uma Categoria---</option>
                            <option ng-repeat="cat in categorias" value="{{cat.id}}">
                                <img class="img-circle" height="25" ng-src="{{cat.icone}}" /> {{cat.nome}}
                            </option>
                        </select>
                        <span ng-show="SubCategoriaForm.categoria.$error.required && !SubCategoriaForm.categoria.$pristine" class="help-block">A categoria é obrigatória.</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : SubCategoriaForm.nome.$error.required && !SubCategoriaForm.nome.$pristine }">
                    <label for="nome" class="col-sm-2 control-label">Sub-Categoria *</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="nome" name="nome" placeholder="Entrar nome da subcategoria" ng-model="Subcategoria.nome"
                            required>
                        <span ng-show="SubCategoriaForm.nome.$error.required && !SubCategoriaForm.nome.$pristine" class="help-block">O nome da Sub-Categoria é obrigatório.</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" ng-disabled="SubCategoriaForm.$invalid">Salvar Sub-Categoria</button>
                        <button class="btn btn-primary" ng-click="deleteSubcategoria(Subcategoria.id)">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true">
                            </span> Excluir Sub-Categoria
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xs-12 col-sm-3">
        </div>
    </div>
</div>